﻿@{
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

<div id="pagebody" class="level4 row">
    <div class="w-100 mt-0 mb-1">

        <div>
            <div id="text-help" class="mb-2">
                <p id="text-select-report" class="utpl-font-type text-center">
                    <b>DATOS DE VALIDACIÓN DEL CERTIFICADO</b>
                </p>
            </div>
        </div>

        <div>
            <div class="d-flex justify-content-center" id="text-report-qr">
                <div>
                    <p>
                        <b>Identificación:</b>     <br />
                        <b>Estudiante:</b>         <br />
                        <b>Titulación:</b>         <br />
                        <b>Modalidad:</b>	       <br />
                        <b>Nivel académico: </b>   <br />
                        @if (ViewBag.status != false && ViewBag.qrInfo.CodigoTipoCertificado != "CERT0007")
                        {
                            <b>Periodo Académico:</b> <br />
                        }
                        <b>Documento:</b> <br />
                        <b>Fecha de generación:</b><br />
                        <b>Código de documento:</b><br />
                    </p>
                </div>
                <div class="ml-2">
                    @if (ViewBag.status != false)
                    {
                    <p>
                        <span id="cedu_estu">@ViewBag.qrInfo.EstudianteCedula</span> <br />
                        <span id="name_estu">@ViewBag.qrInfo.EstudianteNombre</span> <br />
                        <span id="titu_estu">@ViewBag.qrInfo.Titulacion</span><br />
                        <span id="moda_estu">@ViewBag.qrInfo.Modalidad </span><br />
                        <span id="grad_estu">@ViewBag.qrInfo.NivelAcademico</span><br />
                        @if (ViewBag.qrInfo.CodigoTipoCertificado != "CERT0007")
                        {
                            <span id="peri_estu">@ViewBag.qrInfo.PeriodoAcademico</span><br />
                        }
                        <span id="nomb_cert">@ViewBag.qrInfo.NombreCertificado</span><br />
                        <span id="fech_repo">@ViewBag.qrInfo.FechaGeneracion</span><br />
                        <span id="codi_docu">@ViewBag.qrInfo.CodigoCertificado</span><br />
                    </p>
                    }
                </div>
            </div>
        </div>

        @for(int i = 0; i < ViewBag.numPag; i++)
        {
            <div class="row center-image">
                <div class="d-flex justify-content-center">
                    @{
                        var imgSrc = String.Format("data:image/gif;base64,{0}", @ViewBag.img[i]);
                    }
                    <img class="border-report" src="@imgSrc" />
                </div>
            </div>
            <br/>
        }

        
    </div>

</div>

<!-- Modals  -->
@{
    Html.RenderAction("ExtraContent");
}