﻿@using System.Configuration;
@using satelite.Controllers;
@{
    ViewData["Title"] = "Error";
}


<div id="pagebody" class="level4 row">
    <div class="text-center error-mesg" >
        <img src="~/Content/img/error.png" class="img-utpl-error" alt="Error UTPL">
        <br>
        <p>
            Lo sentimos, algo salio mal con la información que queriamos mostrarte, <br>
            por favor intentalo de nuevo más tarde.
        </p>
    </div>
</div>
