﻿@{
    Layout = "~/Views/Shared/_LayoutNoAccess.cshtml";
}

<div id="pagebody" class="level4 row">
    <div class="text-center error-mesg">
        <img src="~/Content/img/no_access.png" class="img-utpl-error" alt="Error UTPL">
        <br>
        <p>
            <b>Acceso no autorizado, </b><br>
            por favor contacte con el administrador.
        </p>
    </div>
</div>
