﻿
@{
    ViewData["Title"] = ViewBag.subTitulo;

    if (!ViewBag.allowAccessStudent)
    {
        Response.Redirect("~/Error/Forbidden/");
    }
}

@Scripts.Render("~/bundles/reports")

<script type="text/javascript">
    var periodCertification = [];
    var codeNameCertification = [];
    var variationCertification = [];
    var nameCertification = [];
    var stateCertification = [];
</script>


@if (ViewBag.certificatesList.Length > 0)
{
    foreach (var item in ViewBag.certificatesList)
    {
        <script type="text/javascript">
            periodCertification.push('@item.requierePeriodo'); 
            codeNameCertification.push('@item.codigoCertificacion'); 
            variationCertification.push('@item.requiereVariacion');
            nameCertification.push('@item.nombreCertificacion');
            stateCertification.push('@item.requiereEstados');
        </script>
    }
}


<div id="load-request">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <p id="load-text">Cargando...</p>
</div>


<div id="pagebody" class="level4 row" style="display:none;">
    <div class="w-100 mt-0 mb-1">
        <div id="warning" style="display:none">
            <img src="@Url.Content("~/Content/img/web_stop_cascade.png")" alt="Detener" class="headerImg" title="Detener" name="web_stop" hspace="0" vspace="0" border="0" height="13" width="13">
            <span id="warningText">Debe selecionar todos los campos para continuar.</span>
        </div>
        <div id="text-help">
            <a class="fieldrequiredtext" href="javascript:void(0)" alt="Requerido... un asterisco rojo indica que este campo es requerido y necesita llenarse siempre" title="Requerido... un asterisco rojo indica que este campo es requerido y necesita llenarse siempre"></a>
            <p id="text-select-report" class="utpl-font-type">
                indica campo requerido
            </p>
        </div>
        <div id="request-report">
            <form id="form-request" class="form-inline">
                <div id="content-form-request" class="bg-white ancho-form">
                    <div class="form-group w-100 form-line-height">
                        <div class="div-label-select" style="line-height: 1.4;">
                            <label for="certificate" class="utpl-font-type-label-select junst-cont-init">
                                <b>Certificación: </b>
                                <a class="fieldrequiredtext" href="javascript:void(0)" alt="Requerido... un asterisco rojo indica que este campo es requerido y necesita llenarse siempre" title="Requerido... un asterisco rojo indica que este campo es requerido y necesita llenarse siempre"></a>
                            </label>
                        </div>
                        <div>
                            <select id="certificate" onchange="ManageMajor()">
                                <option disabled selected>Ninguno</option>
                                @if (ViewBag.certificatesList.Length > 0)
                                {
                                    foreach (var item in ViewBag.certificatesList)
                                    {
                                        <option value="@item.codigoCertificacion"> @item.nombreCertificacion </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group w-100 form-line-height">
                        <div class="div-label-select">
                            <label for="major" class="utpl-font-type-label-select junst-cont-init">
                                <b>Programa: </b>
                                <a class="fieldrequiredtext" href="javascript:void(0)" alt="Requerido... un asterisco rojo indica que este campo es requerido y necesita llenarse siempre" title="Requerido... un asterisco rojo indica que este campo es requerido y necesita llenarse siempre"></a>
                            </label>
                        </div>
                        <div>
                            <select id="major" onchange="ManageAcademicPeriod()">
                                <option disabled selected>Ninguno</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group w-100 form-line-height">
                        <div class="div-label-select">
                            <label for="academicPeriod" class="utpl-font-type-label-select junst-cont-init">
                                <b>Período Académico: </b>
                                <a class="fieldrequiredtext" href="javascript:void(0)" alt="Requerido... un asterisco rojo indica que este campo es requerido y necesita llenarse siempre" title="Requerido... un asterisco rojo indica que este campo es requerido y necesita llenarse siempre"></a>
                            </label>
                        </div>
                        <div>
                            <select id="academicPeriod">
                                <option disabled selected>Ninguno</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group w-100">
                        <p id="mess_erro" class="error-mesg"></p>
                    </div>
                </div>
                <div class="ancho-form buttons-footer-form">
                    <button type="submit" class="btn btn-primary utpl-btn" id="btn-send-utpl">Continuar</button>
                    <button type="button" class="btn btn-primary utpl-btn" onclick="GoHome()" id="btn-cancel-utpl">Anular</button>
                    <div class="spinner-border text-secondary d-none" id="loaderUploadFile" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>



<!-- Modals  -->
@{
    Html.RenderAction("ExtraContent");
}