﻿@{
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

@Scripts.Render("~/bundles/calification")

<div id="pagebody" class="row">

    <div class="w-100">
        <table id="table-califications" class="table table-hover">
            <thead class="thead-blue-utpl">
                <tr>
                    <th>Estudante</th>
                    <th>Calificacion (Deberes)</th>
                    <th>Calificacion (Examen)</th>
                    <th>Promedio</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>


</div>

<div class="modal fade" id="uploadFile" tabindex="-1" role="dialog" aria-labelledby="uploadFileLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg-header">
                <h5 class="modal-title modal-title-utpl" id="uploadFileLabel">Guardar Calificacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCargArch">
                    <div class="d-none">
                        <div class="form-group">
                            <label for="code">Estudiante</label>
                            <input type="text" class="form-control" name="code" value="" id="code" placeholder="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="caliHome">Calificación Deberes</label>
                        <input type="text" class="form-control" pattern="\d+(\.\d{1,2})?" minlength="1" maxlength="5" id="caliHome" placeholder="Calificación Deberes">
                    </div>
                    <div class="form-group">
                        <label for="caliExam">Caificación Examen</label>
                        <input type="text" class="form-control" id="caliExam" pattern="\d+(\.\d{1,2})?" minlength="1" maxlength="5" placeholder="Caificación Examen">
                    </div>
                    <div class="invalid-feedback-utpl" id="error_text"></div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="spinner-border text-secondary d-none" id="loaderUploadFile" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="submit" class="btn btn-primary utpl-btn" id="btn-send-utpl" onclick="UploadFileUser()">Enviar</button>
                <button type="submit" class="btn btn-primary utpl-btn" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals   -->
@{
    Html.RenderAction("ExtraContent");
}
